@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,300;1,400&display=swap");
html,
body,
.container,
#root {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

code {
  font-family: "Source Sans Pro", sans-serif;
}
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
}
::-webkit-scrollbar-track:hover {
  background-color: #555;
}
